.c-app,
#root,
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.c-app {
  display: flex;
  flex-direction: column;

  .c-header {
    flex: 0 1;
  }

  .c-main {
    flex: 1 1;
    box-sizing: border-box;
    overflow: hidden;
  }
}
