.c-header {
  background-color: #555555;
  color: white;
  padding: 8px;
  
  transition: background-color .5s;

  input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #555555;
    padding: 8px 12px;
    color: white;
    font-weight: bold;
    outline: none;
    font-size: 16px;
    transition: background-color .5s, color .5s;

    &:focus {
      background-color: grey;
    }
  }

  &.bad-query {
    background-color: #db3758;

    input {
      background-color: #611904;
      color: #db3758;
    }
  }
}
