.c-host-property-view {
  display: flex;
  overflow: hidden;
  height: 100%;
  background-color: #cccccc;

  &__wrapper {
    flex: 1 1;
    max-width: 100%;
    max-height: 100%;
  }

  &__toolbox {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
  }

  &__properties {
    padding: 20px;
    overflow: auto;

    .closePanel,
    .setCurrent,
    .extLink {
      padding: 8px 16px 8px 0;

      a {
        display: block;
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 16px;
        background-color: rgba(#db3758, 0);
        transition: background-color 0.2s;

        img {
          height: 28px;
          opacity: 1;
          transition: opacity 0.2s;
        }

        &:hover img {
          opacity: 0.4;
        }
      }

      &.active a {
        cursor: default;
        background-color: rgba(#db3758, 0.5);

        img {
          opacity: 0.4;
        }
      }
    }

    .toggleRaw {
      padding: 8px 16px 8px 0;

      img {
        height: 28px;
      }

      a {
        display: block;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.2s;
        transition: transform 0.2s;
        transform: rotate(0deg);

        &:hover {
          opacity: 0.4;
        }
      }

      &.active a {
        transform: rotate(90deg);
        opacity: 0.4;
      }
    }

    header {
      display: flex;
      align-items: center;

      h2 {
        flex: 1 1;
      }
    }

    section {
      margin: 20px 0;
    }
  }

  &__raw {
    display: flex;

    pre {
      flex: 1 1;
      overflow: auto;
      max-width: auto;
    }
  }

  pre {
    background-color: #f7d7ad;

    margin: 0;
    padding: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      &.error {
        background-color: #db3758;
        color: #611904;
      }
    }

    td {
      padding: 10px;
    }
  }
}
