.c-host-table {
  overflow-x: hidden;
  overflow-y: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      &:nth-child(2n) {
        background-color: lightgrey;
      }

      &:hover {
        background-color: grey;
      }

      &.current {
        background-color: #444444;
        color: white;
      }
    }

    td {
      padding: 10px;
      cursor: pointer;
      text-align: center;
      font-weight: bold;
    }
  }
}

