.c-host-table {
  overflow-x: hidden;
  overflow-y: auto;

  table {
    width: 100%;
    border-collapse: collapse;

    tr {
      cursor: pointer;

      &:nth-child(2n) {
        background-color: lightgrey;
      }

      &:hover {
        background-color: grey;
      }

      &.not-content {
        cursor: default !important;
        background-color: transparent !important;

        td {
          padding: 30px;
        }
      }


      &.current {
        background-color: #444444;
        color: white;
      }
    }

    td {
      padding: 10px;
      text-align: center;
      font-weight: bold;
    }
  }
}

